img{
    height:30vw;
    width:20vh;
}
p {
  font-size: large;
  text-align: justify;
  line-height: 1.5;
}
.description {
  padding: 2vw 3vh;
  border-width: thick;
  border-radius: 25px;
  border: 2px solid gray;
  margin-bottom: 3vh;
}
