<div class="news">
    <h2 class="news-header">Latest News</h2>
    <div *ngIf="!loading && (news$ | async)?.length; else no_news_yet">
        <div class="singleNews w-100" *ngFor="let item of news$ | async">
            <div class="card w-100 mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
                    <p class="card-text">{{ item.teaser }}</p>
                    <a [routerLink]="['/news', item.newsId]" class="card-link">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <ng-template #no_news_yet>
        <div class="card w-100 p-5">
            <h1>Welcome to our website! We are thrilled to have you here. Take a moment to explore our products and services, and feel free to contact us if you have any questions. Thank you for choosing us!</h1>
        </div>
    </ng-template>
</div>
