<tabset class="bg-light">
    <tab heading="Business offers">
        <div class="container p-3">
            <div class="row">
                <div class="col-4">
                    <h3>Business offers</h3>
                    <p>Welcome to our Business Offers tab! Here you'll find all the latest and greatest business deals we have to offer. Whether you're looking for discounts on products, services or special packages, we've got you covered. Our team of experts is constantly on the lookout for the best deals to help you save money and grow your business. Check back often to see what we have in store!</p>
                    <hr />
                    <p>E-mail us! <i class="fa fa-envelope" aria-hidden="true"></i></p>
                    <p>business.offers@companyname.com</p>
                </div>
                <div class="col-8">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" alt="" />
                </div>
            </div>
        </div>
    </tab>
    <tab heading="HR & Jobs">
        <div class="container p-3">
            <div class="row">
                <div class="col-4">
                    <h3>HR & Jobs</h3>
                    <p>Welcome to our HR & Jobs tab! Here you'll find all the latest job postings and career opportunities in a variety of fields. We believe in connecting talented individuals with the right companies, so we work hard to bring you the best job opportunities out there. From entry-level positions to executive roles, we have something for everyone. So whether you're just starting out or looking to make a career change, this is the place for you.</p>
                    <hr />
                    <p>E-mail us! <i class="fa fa-envelope" aria-hidden="true"></i></p>
                    <p>human.resources@companyname.com</p>
                </div>
                <div class="col-8">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="" />
                </div>
            </div>
           
        </div>
    </tab>
    <tab heading="Our newsletter">
        <div class="p-3">
            <h3>Our newsletter</h3>
            <p>Welcome to our Newsletter tab! We know that staying up to date on the latest news and trends is important, so we've created a newsletter to help you stay informed. Our newsletter covers a wide range of topics, from business and technology to lifestyle and entertainment. We also feature exclusive deals and promotions that you won't find anywhere else. So sign up today to get all the latest news and exclusive offers delivered right to your inbox!</p>
            <hr />
            Newsletter form will go there
        </div>
    </tab>
</tabset>
