<tabset class="bg-light">
    <tab heading="Business offers">
        <div class="container p-3">
            <div class="row">
                <div class="col-4">
                    <h3>Business offers</h3>
                    <p>Welcome to our Business Offers tab! Here you'll find all the latest and greatest business deals we have to offer. Whether you're looking for discounts on products, services or special packages, we've got you covered. Our team of experts is constantly on the lookout for the best deals to help you save money and grow your business. Check back often to see what we have in store!</p>
                    <hr />
                    <p>E-mail us! <i class="fa fa-envelope" aria-hidden="true"></i></p>
                    <p>business.offers@companyname.com</p>
                </div>
                <div class="col-8">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" alt="" />
                </div>
            </div>
        </div>
    </tab>
    <tab heading="HR & Jobs">
        <div class="container p-3">
            <div class="row">
                <div class="col-4">
                    <h3>HR & Jobs</h3>
                    <p>Welcome to our HR & Jobs tab! Here you'll find all the latest job postings and career opportunities in a variety of fields. We believe in connecting talented individuals with the right companies, so we work hard to bring you the best job opportunities out there. From entry-level positions to executive roles, we have something for everyone. So whether you're just starting out or looking to make a career change, this is the place for you.</p>
                    <hr />
                    <p>E-mail us! <i class="fa fa-envelope" aria-hidden="true"></i></p>
                    <p>human.resources@companyname.com</p>
                </div>
                <div class="col-8">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="" />
                </div>
            </div>
           
        </div>
    </tab>
    <tab heading="Our newsletter">
        <div class="p-3">
            <h3 class="text-center mt-3 mb-3">Our newsletter</h3>
            <p class="mb-4">Welcome to our Newsletter tab! We know that staying up to date on the latest news and trends is important, so we've created a newsletter to help you stay informed. Our newsletter covers a wide range of topics, from business and technology to lifestyle and entertainment. We also feature exclusive deals and promotions that you won't find anywhere else. So sign up today to get all the latest news and exclusive offers delivered right to your inbox!</p>
            <hr />
            <h1 class="text-center">Join our newsletter now!</h1>
            <div class="container-fluid">
                <form [formGroup]="newsletterForm" (ngSubmit)="insertNewsletter(newsletterForm.value)" class="w-75 p-4 mx-auto text-center border border-light">
                    <div class="form-group">
                        <div class="row mb-3 mt-4 justify-content-center">
                            <div class="col-1 me-3">
                                <label class="col-form-label">Forename:</label>
                            </div>
                            <div class="col-3">
                                <input type="text"
                                       name='firstName'
                                       class="form-control"
                                       formControlName="firstName"
                                       [class.is-invalid]="newsletterForm.get('firstName')?.errors && newsletterForm?.touched">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-1 me-3">
                                <label class="col-form-label">Email:</label>
                            </div>
                            <div class="col-3">
                                <input type="email"
                                       name='email'
                                       class="form-control"
                                       formControlName="email"
                                       [class.is-invalid]="newsletterForm.get('email')?.errors && newsletterForm?.touched">
                            </div>
                        </div>
                    </div>
                    <div class="row text-center justify-content-center">
                        <div class="col-4">
                            <button [disabled]="!newsletterForm.valid" type="submit" class="btn btn-lg btn-outline-primary mt-4">Subscribe to the newsletter!</button>
                        </div>
                    </div>
                    <br />
                </form>
                <div class="text-danger text-center" *ngIf="newsletterForm?.touched && newsletterForm.get('firstName')?.hasError('required')">
                    *Please enter your name
                </div>
                <div class="text-danger text-center" *ngIf="newsletterForm?.touched && newsletterForm.get('email')?.hasError('required')">
                    *Please enter an email
                </div>
                <div class="text-danger text-center" *ngIf="newsletterForm?.touched && newsletterForm.get('email')?.hasError('email')">
                    *Please enter a valid email
                </div>
            </div>
        </div>
    </tab>
</tabset>
