<h1 class="mt-5 mb-3" style="text-align:center; font-size:60px">FAQ</h1>
<h4 class="mb-5 text-muted" style="text-align:center;">Here you can review our answers to the frequently asked questions</h4>
<accordion [isAnimated]="true">
    <accordion-group heading="What services does CompanyName offer?">
        <p>CompanyName offers a range of IT services, including software development, web design and development, mobile app development, IT consulting, and cybersecurity solutions. Our team of experts is dedicated to providing tailored solutions to meet your specific needs.</p>
    </accordion-group>
    <accordion-group heading="How long has CompanyName been in business?">
        <p>CompanyName was founded in 2014, and we've been providing top-quality IT services to businesses of all sizes ever since. Our years of experience have allowed us to hone our skills and stay up-to-date with the latest industry trends and technologies.</p>
    </accordion-group>
    <accordion-group heading="How does CompanyName ensure the security of its clients' data?">
        <p>At CompanyName, we take cybersecurity very seriously. We use state-of-the-art tools and techniques to protect our clients' data from external threats. We also conduct regular security audits and risk assessments to identify vulnerabilities and take proactive steps to address them.</p>
    </accordion-group>
    <accordion-group heading="What is CompanyName's approach to software development?">
        <p>At CompanyName, we follow an agile approach to software development. This means that we prioritize collaboration, flexibility, and rapid prototyping to deliver high-quality software solutions that meet our clients' evolving needs.</p>
    </accordion-group>
    <accordion-group heading="Does CompanyName offer ongoing IT support and maintenance?">
        <p>Yes, we offer ongoing IT support and maintenance services to ensure that your systems remain up-to-date and fully functional. We offer a range of support options to fit your specific needs and budget.</p>
    </accordion-group>
    <accordion-group heading="How does CompanyName ensure the quality of its work?">
        <p>We pride ourselves on delivering top-quality work to our clients. To ensure quality, we follow a rigorous testing and quality assurance process that includes unit testing, integration testing, and user acceptance testing. We also regularly gather feedback from our clients to continually improve our processes and services.</p>
    </accordion-group>
    <accordion-group heading="How can I get started with CompanyName?">
        <p>Getting started with CompanyName is easy. Simply contact us to schedule a consultation and tell us about your IT needs. From there, we'll work with you to develop a tailored solution that meets your unique needs and budget.</p>
    </accordion-group>
</accordion>
